# for development
cloudpickle
dask[complete]>=2.22.0
distributed>=2.22.0
mpi4py-mpich
msgpack>=1.0.0
packaging
psutil
pytest
ray[default]>=1.4.0
# for building the documentation
sphinx
sphinx_rtd_theme
# for code checks
black
flake8
