# for development
cloudpickle
dask[complete]>=2.22.0
distributed>=2.22.0
mpi4py
msgpack
packaging
psutil
pytest
ray[default]
# for building the documentation
sphinx
sphinx_rtd_theme
# for code checks
black
flake8
